* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #c1b5ad;
}

.header {
  width: 100%;
  height: 10vh;
  font-size: 6vh;
  color: purple;
  font-style: italic;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#map {
  /* height: 100vh;
  width: 70vw; */
  height: 100vh;
  flex: 4;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

#userInput {
  flex: 1;
  padding: 1em;
  height: 50vh;
  background-color: beige;
  align-self: flex-start;
}
#userOutput {
  flex: 1;
  padding: 1em;
  height: 50vh;
  background-color: beige;
  /* align-self: flex-end; */
}
